<!DOCTYPE html>
<html lang="en"> 

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="shortcut icon" href="images/favicon.ico">
   <title>Vue Pokedex</title>
   <link rel="stylesheet" href="style.css">
   <style>
      [v-cloak]{
         display: none;
      }
   </style>
</head>

<body>
   <header class="main-header">
      Vue - Pokedex
   </header>

   <div id="app" class="main-content" v-cloak> 
      <aside class="pokedex-filters">
         <div class="nice-input-wrapper">
            <input v-model="searchText" type="text" placeholder="Search by name" class="nice-input">
            <span class="focus-border">
               <i></i>
            </span>
         </div>

         <p class="checkboxes-list-title">
            Type
         </p>

         <div class="checkboxes-list">

            <div v-for="(type, index) in TYPE_COLOR" :key="type" class="md-checkbox">
               <input :id="'checkbox-'+ index" type="checkbox" :value="TYPE_COLOR.index">
               <label :for="'checkbox-'+ index">
                  <i class="material-icons" :style="{'color': type }">
                     lens
                  </i>
                  <span class="label-title">
                     {{ index }}
                  </span>
               </label>
            </div>

         </div>
      </aside>


      <main class="main-view">
         <article class="pokemons-list">
            <div v-for="(pokemon, index) in filteredPokemons" :key="pokemon.id" class="pokemon-card">
               <div class="background-wrapper">
                  <div v-for="type in pokemon.types" :key="type" :style="{ 'background-color': TYPE_COLOR[type] }"></div>
               </div>

               <span class="remove-pokemon" @click="removePokemon(pokemon)">
                  <i class="material-icons">
                     close
                  </i>
               </span>

               <div class="image-wrapper">
                  <img v-bind:src="pokemon.image" :alt="pokemon.name" class="pokemon-image">
               </div>
               <div class="pokemon-title">
                  {{ pokemon.name }}
               </div>
            </div>
         </article>
      </main>
   </div>

   <!-- <script src="http://unpkg.com/vue"></script> -->
   <script src="vue.js"></script>
   <script src="main.js"></script>
</body>

</html>